<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link href="../css/onsenui.css" rel="stylesheet">
    <link href="../css/onsen-css-components.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/onsenui.min.js"></script>
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <script type="text/javascript" src="../js/main.js"></script>
    <script> ons.platform.select('android')</script>

    <script>
        function refreshPreviews() {
            var row = document.getElementById("previewRow");
            var template = document.querySelector("#preview");
            var previews = JSON.parse(model.getPreviews());
            var idx;
            for (idx in previews) {
                var preview = previews[idx];
                var clone = document.importNode(template.content, true);
                var title = clone.querySelector("#title");
                title.id = preview.id + "-title";
                title.textContent = preview.title;
                var button = clone.querySelector("#button");
                button.id = preview.id + "-button";
                button.addEventListener("click", function (ev) {
                    controller.openPainting(preview.id);
                }, false);
                var image = clone.querySelector("#image");
                image.id = preview.id + "-image";
                image.src = preview.base64Image;
                row.appendChild(clone);
            }

        }

        function addDialogShow() {
            var dialog = document.getElementById("addDialog");

            if (dialog) {
                dialog.show()
            } else {
                ons.createElement('addDialogTemplate', {append: true})
                    .then(function (dialog) {
                        dialog.show();
                    });
            }
        }

        function addDialogHide() {
            var dialog = document.getElementById("addDialog");
            if (dialog) {
                dialog.hide();
            }
        }

        function addDialogAdd() {
            var titleInput = document.getElementById("addDialogTitle");
            if (titleInput) {
                if (controller.addPainting(titleInput.value)) {
                    addDialogHide()
                } else {
                    //TODO: Add error handling/hinting
                }
            }
        }

        function addDialogSetPicture(picture) {
            var image = document.getElementById("addDialogImage");
            if (image) {
                image.src = picture;
            }
        }

        function showError(message) {
            ons.notification.toast(message, {timeout: 3000});
        }


        window.onload = function (ev) {
            refreshPreviews()
        };
    </script>
</head>
<body>
<ons-page>
    <ons-toolbar>
        <div class="center">
            Paiman
        </div>
        <div class="right">
            <ons-button modifier="quiet" onClick="refreshPreviews()">
                <ons-icon icon="fa-sync"></ons-icon>
            </ons-button>
        </div>
    </ons-toolbar>
    <ons-row id="previewRow">

    </ons-row>
    <ons-fab ripple position="bottom right" onClick="addDialogShow()">
        <ons-icon icon="fa-plus"></ons-icon>
    </ons-fab>
</ons-page>

</body>

<template id="preview">
    <ons-button id="button" modifier="light" ripple onClick="controller.openPainting()">
        <ons-card>
            <div id="title" class="title"></div>
            <div class="content">
                <img id="image" class="previewImage" style="max-width: 100px; max-height: 100px"/>
            </div>
        </ons-card>
    </ons-button>
</template>

<template id="addDialogTemplate">
    <ons-dialog id="addDialog" cancelable>
        <div class="paddedDialog">
            <ons-row>
                <ons-input id="addDialogTitle" modifiers="underbar" placeholder="Title"></ons-input>
            </ons-row>
            <ons-row>
                <ons-button onClick="controller.selectImage()" modifier="quiet">Set image</ons-button>
            </ons-row>
            <ons-row>
                <img id="addDialogImage" style="max-width: 100%"/>
            </ons-row>
            <ons-row>
                <ons-button id="addDialogAdd" onClick="addDialogAdd()">
                    Add
                </ons-button>
            </ons-row>
        </div>
    </ons-dialog>
</template>

</html>